wsdl/ca_prod_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:cdc:iisb:2011" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="urn:cdc:iisb:2011">
    <types>
        <s:schema targetNamespace="urn:cdc:iisb:2011">
            <s:element name="submitMessage">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="userid" type="s:string"/>
                        <s:element minOccurs="0" name="password" type="s:string"/>
                        <s:element minOccurs="0" name="dataownerid" type="s:string"/>
                        <s:element minOccurs="0" name="cdphprogramid" type="s:string"/>
                        <s:element minOccurs="0" name="cdphprogramenvironment" type="s:string"/>
                        <s:element minOccurs="0" name="action" type="s:string"/>
                        <s:element minOccurs="0" name="messagecontent" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="submitMessageResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="status" type="s:string"/>
                        <s:element minOccurs="0" name="return" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="submitMessageSoapIn">
        <part name="parameters" element="s0:submitMessage"/>
    </message>
    <message name="submitMessageSoapOut">
        <part name="parameters" element="s0:submitMessageResponse"/>
    </message>
    <portType name="HL7SOAPEndPointSvcSoap">
        <operation name="submitMessage">
            <input message="s0:submitMessageSoapIn"/>
            <output message="s0:submitMessageSoapOut"/>
        </operation>
    </portType>
    <binding name="HL7SOAPEndPointSvcSoap" type="s0:HL7SOAPEndPointSvcSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="submitMessage">
            <soap:operation soapAction="urn:cdc:iisb:2011/OCIELib.Covid.CA.Service.HL7SOAPEndPointSvc.submitMessage" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HL7SOAPEndPointSvc">
        <port name="HL7SOAPEndPointSvcSoap" binding="s0:HL7SOAPEndPointSvcSoap">
            <soap:address location="https://gateway-tls.linkhealth.com/caprod"/>
        </port>
    </service>
</definitions>